@model IEnumerable<BlogReady.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>To-Do Tasks</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
